@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

:root{
    --color-tomato: hsl(4, 100%, 67%);
    --slate-gray: hsl(234, 29%, 20%);
    --charcoal-gray: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: var(--charcoal-gray);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    width: 850px;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    gap: 2rem;
    padding: 15px;
}

.first-part{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.points h1{
    font-size: 3.5rem;
    color: var(--slate-gray);
    margin-bottom: 20px;
}

.points p ul{
    color: var(--grey);
    line-height: 1.5;
}

.points p{
    margin-bottom: 20px;
}

.points ul li span{
    margin-right: 20px;
}

.points ul li{
    margin-bottom: 10px;
}

.form form{
    position: relative;
}

#message{
    position: absolute;
    top: -10px;
    right: 50px;
    color: rgb(245, 102, 50);
    font-weight: 700;
    padding: -5px 0;
    display: none;
    font-size: 12px;
}

.form form input{
    margin-top: 10px;
    width: 90%;
    margin-bottom: 25px;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--grey);
}

.form label{
    font-size: 12px;
    color: var(--charcoal-gray);
    font-weight: bold;
}

.btn{
    text-align: center;
    color: var(--white);
    background-color: var(--slate-gray);
    padding: 15px 25px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--grey);
    width: 90%;
}
.btn:hover{
    background-color: black;
    transition: all .2s;
}

.success-container{
    display: none;
   width: 350px;
   background-color: var(--white);
   padding: 40px;
   border-radius: 15px;
}

.success-container span img{
    width: 50px;
    margin-bottom: 20px;
}

.success-container h1{
    font-size: 3rem;
    color: var(--slate-gray);
    margin-bottom: 20px;
}


.success-container p{
    color: var(--charcoal-gray);
    margin-bottom: 20px;
}
.success-container p span{
    font-weight: bold;
}

.btn2{
    padding: 15px 25px;
    width: 100%;
    border:none;
    border-radius: 8px;
    color: #eee;
    font-weight: bold;
    background-color: #FBAB7E;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(251, 163, 0);
    font-size: 1rem;
}

.btn2:hover{
    background-color: rgba(252, 169, 14, 0.88);
}


/*responsive*/
@media (max-width: 641px) {
    body{
        background-color: var(--white);
        height: 100vh;
        align-items: baseline;
    }
    .container{
        flex-direction: column-reverse;
        border-radius: 0px;
        padding: 0;
    }

    .image img{
        display: none;
        
    }

    .image{
        background-image: url(/assets/images/illustration-sign-up-mobile.svg);
        background-position: center;
        background-size: cover;
        object-fit: contain;
        height: 300px;
    }

    .first-part{
        padding: 20px;
    }

    .points h1{
        font-size: 2.5rem;
    }

    .form form input{
        width: 100%;
    }
    .btn{
        width: 100%;
    }

    .success-container{
        padding: 20px;
        justify-content: center;
    }

    .btn2{
        margin-top: 200px;
    }
}